@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* navbar section start */
nav {
    background-color: rgba(231, 241, 253, 1);
}

.nav-logo {
    width: 214px;
    height: 40px;
}

.nav-btn {
    background-color: rgba(255, 81, 81, 1);
    height: 50px;
    width: 158px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
    transition-duration: 0.6s;
}

.nav-btn:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}


.nav-item a:hover {
    color: rgba(255, 81, 81, 1);
    text-decoration: underline;
}

/* navbar section end */

/* hero section start */
.hero-sec {
    background: url(./assets/design.png);
    width: 100%;
    padding-top: 4%;
    padding-bottom: 13%;
}

.hero-sec-first-line {
    margin-top: 3%;
    font-size: 23px;
}

.hero-sec-second-line {
    font-size: 42px;
    font-weight: 700;
    line-height: 56.93px;
    color: rgba(36, 47, 101, 1);
}

.hero-sec-third-line {
    font-size: 26px;
    font-weight: 500;
    line-height: 39px;
}

.temp-btn {
    width: 218px;
    height: 62px;
    background-color: rgba(255, 81, 81, 1);
    font-size: 20px;
    font-weight: 500;
    align-items: center;
    transition-duration: 0.6s;
}

.temp-btn:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0;
}

.hero-sec-fifth-line-img {
    width: 50px;
    height: 50px;
}

.hero-sec-img {
    width: 100%;
    height: 100%;
}

/* hero section end */

/* Trusted section start  */
.trusted-sec {
    margin-top: 8%;
}

.trusted-sec-first-line {
    font-size: 22px;
    font-weight: 500;
}

.trusted-sec-second-line {
    font-size: 46px;
    font-weight: 500;
}

.trusted-sec-third-line {
    font-size: 18px;
}

.trusted-sec-right img {
    width: 100%;
}

/* Trusted section end  */


/* services section start */
.services-sec {
    margin-top: 7%;
}

.services-sec-header {
    font-size: 46px;
    font-weight: 700;
}

.card {
    cursor: pointer;
    border-radius: 30px;
    border: none;
    background-image: radial-gradient(rgba(33, 127, 239, 0.07),
            rgba(33, 127, 239, 0.09));
    transition: all .6s;
}

.card:hover {
    background-image: radial-gradient(rgba(33, 127, 239, 0.17),
            rgba(33, 127, 239, 0.7));
    box-shadow: rgba(33, 127, 239, 0.48) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.card-line-first {
    font-size: 24px;
    font-weight: 600;
}

.card-line-second {
    font-size: 18px;
}

/* services section end */

/* experience section start */
.experience-sec {
    margin-top: 6%;
    background-color: rgba(33, 127, 239, 0.07);
}

.experience-sec-img {
    width: 100%;
    height: 100%;
}

.experience-sec-first-line {
    font-size: 22px;
}

.experience-sec-second-line {
    font-size: 38px;
    line-height: 52.67px;
}


.experience-sec-third-line {
    font-size: 18px;
    color: rgba(106, 106, 106, 1);
}

.experience-sec-fourth-line {
    font-size: 18px;
    color: rgba(106, 106, 106, 1);
}

/* experience section end */

/* Work section start */
.work-section {
    padding-top: 10%;
    padding-bottom: 10%;
}

.carousel-indicators {
    bottom: -25px;
}

.carousel-indicators [data-bs-target] {
    width: 8px;
    height: 7px;
}

/* Work section end */


/* portfolio section start */
.portfolio-section {
    background-color: rgba(33, 127, 239, 0.07);
    padding-top: 7%;
    padding-bottom: 10%;
}

.portfolio-section-head-one {
    font-size: 46px;
    font-weight: 700;
}

.portfolio-section-head-two {
    font-size: 18px;
    color: rgba(106, 106, 106, 1);
}

.portfolio-section-cards-one {
    border-radius: 30px;
    background-image: url(./assets/portfolio-card-1-bg.svg);
    background-repeat: no-repeat;
}

.portfolio-section-cards-two {
    border-radius: 30px;
    background-image: url(./assets/portfolio-card-2-bg.svg);
    background-repeat: no-repeat;

}

.portfolio-section-cards-three {
    border-radius: 30px;
    background-image: url(./assets/portfolio-card-3-bg.svg);
    background-repeat: no-repeat;

}

.portfolio-section-cards-four {
    border-radius: 30px;
    background-image: url(./assets/portfolio-card-4-bg.svg);
    background-repeat: no-repeat;

}

.portfolio-section-cards-firstline {
    font-size: 22px;
    font-weight: 600;

}

.portfolio-section-cards-img {
    width: 307px;
    height: 204px;
}

.portfolio-section-cards-btn {
    border: 1px solid rgba(0, 0, 0, 1);
    width: 150px;
    height: 37px;
    font-size: 14px;
    color: rgba(0, 0, 0, 1);
    font-weight: 600;
}

/* portfolio section end */
/* Questions section start */
.questions-section {
    padding-top: 7%;
    padding-bottom: 7%;
}

.questions-section-head-one {
    font-size: 46px;
    font-weight: 700;

}

.questions-accordion {
    margin-top: 14%;
}

.questions-section-head-two {
    font-size: 18px;
    color: rgba(106, 106, 106, 1);
}

.accordion-button {
    font-size: 22px;
    font-weight: 500;
}

.questions-sec-right-img img {
    width: 327px;
}

/* Questions section end */


/* contact section start */
.contact-section {
    background-color: rgba(33, 127, 239, 0.07);
    padding-top: 5%;
}

.contact-section-head-one {
    font-size: 46px;
    font-weight: 700;
}

.contact-section-head-two {
    font-size: 18px;
    color: rgba(106, 106, 106, 1);
}

.contact-section-left-box-one {
    /* width: 70%; */
    margin-top: 10%;
    font-size: 22px;
    font-weight: 500;
    height: 78px;
    background-color: rgba(202, 228, 201, 1);
}

.contact-section-left-box-one img {
    height: 78px;
    border-radius: 50px;
    background-color: rgba(180, 244, 177, 1);
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.25) inset;
    padding: 10px;
}

.contact-section-left-box-two {
    /* width: 70%; */
    font-size: 22px;
    font-weight: 500;
    height: 78px;
    background-color: rgba(255, 0, 0, 0.14);
}

.contact-section-left-box-two img {
    height: 78px;
    border-radius: 50px;
    background-color: rgba(255, 0, 0, 0.15);
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.25) inset;
    padding: 10px;
}

.contact-section-left-box-three {
    /* width: 70%; */
    font-size: 22px;
    font-weight: 500;
    height: 78px;
    background-color: rgba(3, 155, 229, 0.14);
}

.contact-section-left-box-three img {
    height: 78px;
    border-radius: 50px;
    background-color: rgba(3, 155, 229, 0.14);
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.25) inset;
    padding: 10px;
}

.contact-sec-right-img img {
    width: 306px;
}

/* contact section end */


/* delivering section start */
.delivering-sec {
    background: url(./assets/delivering-sec-img.svg);
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    padding: 100px 0px;
}

/* delivering section end */