@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: "Poppins", sans-serif;
}

.web-pad {
    padding-top: 6%;
    padding-bottom: 7%;
}

/* navbar section start */
header {
    z-index: 111;
}

nav {
    background-color: rgba(231, 241, 253, 1);

}

.nav-logo {
    width: 200px;
    height: 40px;
}

.nav-btn {
    background-color: rgba(255, 81, 81, 1);
    height: 50px;
    width: 158px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
    transition-duration: 0.6s;
}

.nav-btn:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}


.nav-item a:hover {
    color: rgba(255, 81, 81, 1);
    text-decoration: underline;
}

#neonShadow {
    height: 50px;
    width: 150px;
    border: none;
    border-radius: 50px;
    transition: 0.3s;
    animation: glow 1s infinite;
    transition: 0.5s;
}

span {
    display: block;
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    padding-top: 15%;
    padding-right: 2.5%;
    margin-right: 0px;
    font-size: 1.2rem;
    transition: 0.3s;
    opacity: 0;
}


@keyframes glow {
    0% {
        box-shadow: 5px 5px 20px rgb(93, 52, 168), -5px -5px 20px rgb(93, 52, 168);
    }

    50% {
        box-shadow: 5px 5px 20px rgb(255, 81, 81), -5px -5px 20px rgb(255, 81, 81)
    }

    100% {
        box-shadow: 5px 5px 20px rgb(36, 47, 101), -5px -5px 20px rgb(36, 47, 101)
    }
}




/* navbar section end */

/* hero section start */
.hero-sec {
    background: url(./assets/design.png);
    width: 100%;
}

.hero-sec-second-line {
    color: rgba(36, 47, 101, 1);
}

a.temp-btn {
    width: 218px;
    height: 62px;
    background-color: rgba(255, 81, 81, 1);
    font-size: 20px;
    font-weight: 500;
    align-items: center;
    transition-duration: 0.6s;
}

.temp-btn:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0;
}

.hero-sec-img {
    width: 100%;
    height: 100%;
}

/* hero section end */

/* Trusted section start  */


.trusted-sec-right img {
    width: 100%;
}

/* Trusted section end  */


/* services section start */


.services-sec-header {
    font-size: 46px;
    font-weight: 700;
}

.card {
    width: 100%;
    height: 324px;
    cursor: pointer;
    border-radius: 30px;
    border: none;
    background-image: radial-gradient(rgba(33, 127, 239, 0.07),
            rgba(33, 127, 239, 0.09));
    transition: all .6s;
}

.card:hover {
    background-image: radial-gradient(rgba(33, 127, 239, 0.17),
            rgba(33, 127, 239, 0.7));
    box-shadow: rgba(33, 127, 239, 0.48) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.card-img {
    width: 89px;
    height: 89px;
}

/* services section end */

/* experience section start */
.experience-sec {
    margin-top: 6%;
    background-color: rgba(33, 127, 239, 0.07);
}

/* experience section end */

/* Work section start */

.work-sec-indicators {
    bottom: -25px;
}


.work-sec-indicators [data-bs-target] {
    width: 8px;
    height: 7px;
}

/* Work section end */

/* portfolio section start */
.portfolio-section {
    background-color: rgba(33, 127, 239, 0.07);

}

.portfolio-card-img {
    width: 100%;
    height: 205px;
}

.portfolio-section-cards-one {
    height: 382px;
    border-radius: 30px;
    background-image: url(./assets/portfolio-card-1-bg.svg);
    background-repeat: no-repeat;
}

.portfolio-section-cards-two {
    border-radius: 30px;
    background-image: url(./assets/portfolio-card-2-bg.svg);
    background-repeat: no-repeat;

}

.portfolio-section-cards-three {
    border-radius: 30px;
    background-image: url(./assets/portfolio-card-3-bg.svg);
    background-repeat: no-repeat;

}

.portfolio-section-cards-four {
    border-radius: 30px;
    background-image: url(./assets/portfolio-card-4-bg.svg);
    background-repeat: no-repeat;

}

.portfolio-section-cards-btn {
    border: 1px solid rgba(0, 0, 0, 1);
    width: 150px;
    height: 37px;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    background-color: rgba(255, 81, 81, 1);
    color: white;
}

/* portfolio section end */
/* testimonial section start */
.testimonial-card {
    width: 51.2%;
}
.testimonial-margin{
    margin-top: 10%;
}

.testimonial-section {
    padding-bottom: 10%;
}

.testimonial-section {
    background-color: rgba(36, 47, 101, 1);
}

.testimonial-img-active {
    margin-bottom: -8rem;

}

.testimonial-img-active [data-bs-target] {
    width: 56px;
    height: 94px;
}

.testimonial-img-active .active {
    width: 10%;
}

.carousel-control-prev {
    left: 134px;
}

.carousel-control-next {
    right: 134px;
}

/* testimonial section end */


/* Questions section start */
.questions-accordion {
    margin-top: 14%;
}

/* Questions section end */


/* contact section start */
.contact-section {
    background-color: rgba(33, 127, 239, 0.07);
}


.contact-section-left-box-one {
    margin-top: 10%;
    background-color: rgba(202, 228, 201, 1);
}

.contact-section-left-box-one img {
    background-color: rgba(180, 244, 177, 1);
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.25) inset;
    padding: 10px;
}

.contact-section-left-box-two {
    background-color: rgba(255, 0, 0, 0.14);
}

.contact-section-left-box-two img {
    background-color: rgba(255, 0, 0, 0.15);
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.25) inset;
    padding: 10px;
}

.contact-section-left-box-three {
    background-color: rgba(3, 155, 229, 0.14);
}

.contact-section-left-box-three img {
    background-color: rgba(3, 155, 229, 0.14);
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.25) inset;
    padding: 10px;
}

.contact-sec-right-img img {
    width: 100%;
}

/* contact section end */


/* delivering section start */
.news-letter {
    background: url(./assets/delivering-sec-img.svg);
    background-repeat: no-repeat;
    padding: 151px 0px;
    background-size: contain;
}

.news-letter a {
    color: #fff;
    padding-top: 14px;
}

.delivering-sec {
    width: 100%;
}

/* delivering section end */


/* footer section start */
footer {
    background-color: rgba(36, 47, 101, 1);

}

.footer-btn {
    color: rgba(33, 127, 239, 1);
    box-shadow: 0px 2px 10px #aaaaaa;

}

/* footer section end */


/* courses section start */
.line{
    background: deepskyblue;
    width: 5px;
    height: 45px;
    border-radius: 30px;
    display: inline-block;
    line-height: 22px;

}
.courses-section-first-h1{
    font-size: 60px;
}
.courses-section{
    padding-top: 10%;
}
.courses-section-first-p{
    font-size: 20px;
}
.courses-section-two{
padding-bottom: 10%;
}
.courses-section-two-head{
    font-size: 35px;
}
 .courses-section-two-card{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.courses-section-two-card-p:hover{
    color: rgb(220,53,69);
    cursor: pointer;
}
/* courses section end */






















@media (min-width: 481px) and (max-width: 767px) {
    .temp-btn {
        margin: 0px auto;

    }

    .news-letter {
        padding: 100px 0px;
    }

    a.temp-btn {
        width: 163px;
        height: 46px;
        font-size: 14px;
    }

    .testimonial-img {
        width: 50px;
    }

    .testimonial-card {
        width: 300px;
    }

    .testimonial-card h4 {
        font-size: 24px;
    }

    .testimonial-card p {
        font-size: 12px;
    }

    .testimonial-section {
        padding-bottom: 30%;
    }
}


/* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
    */

@media (min-width: 320px) and (max-width: 480px) {
    .nav-logo {
        width: 164px;
        height: 33px;
    }

    .temp-btn {
        margin: 0px auto;

    }

    .news-letter {
        background: none;
        ;
        padding: 46px 0px;
    }

    .news-letter h1 {
        font-size: 17px;
    }

    a.temp-btn {
        width: 163px;
        height: 46px;
        font-size: 14px;
    }



    .testimonial-card {
        width: 240px;
    }

    .testimonial-card h4 {
        font-size: 18px;
        line-height: 17px;
    }

    .testimonial-card p {
        font-size: 12px;
    }

    .testimonial-img-active [data-bs-target] {
        width: 32px;
        height: 120px;
    }

    .testimonial-section {
        padding-bottom: 30%;
    }


    .carousel-control-prev {
        left: -11px;
    }

    .carousel-control-next {
        right: -11px;
    }

    .testimonial-img-active .active {
        width: 27%;
    }
    .line{
        background: deepskyblue;
        width: 5px;
        height: 45px;
        border-radius: 30px;
        display: inline-block;
        line-height: 22px;
    
    }
    .courses-section-first-h1{
        font-size:29px;
    }
    .courses-section{
        text-align: center;
        padding-top: 23%;
    }
    .courses-section-first-p{
        font-size: 9px;
        padding-left: 10px;
    }
}




.p-top-70 {
    padding-top: 10%;
}

.m-top-70 {
    margin-top: 10%;
}